version: 2.1
parameters:
  repo:
    type: string
    default: "panini"

executors:
  executor-for-panini:
    parameters:
      version:
        type: string
        default: "3.8"
    docker:
      - image: python:<< parameters.version >>-slim-buster
      - image: nats
    resource_class: small

working_directory: ~/<< pipeline.parameters.repo >>

commands:
  install-requirements:
    steps:
      - run:
          name: Install requirements
          command: pip3 install pytest && pip3 install -r requirements/defaults.txt
  run-tests:
    steps:
      - run:
          name: Run tests
          command: |
            mkdir results
            timeout 300 python3 -m pytest --junitxml=results/out.xml || (echo "Doesn't finished succefully" && exit 1)
  store-results:
    steps:
      - store_test_results:
          path: results
  deploy-docs:
    steps:
      - run:
          name: Install rsync
          command: sudo apt update ; sudo apt install rsync
      - run:
          name: Fill config file
          command: |
            echo -e $CONFIG_FILE > "${HOME}/${FILENAME}"
            echo $KEY > "${HOME}/${KEYFILE}"
      - run:
          name: Sync repo
          command: bash -c "$RSYNC_PARAMS"
      - run:
          name: Reload service
          command: bash -c "ssh ${RELOAD_SERVICE}"

jobs:
  deploy-documentation:
    working_directory: ~/<< pipeline.parameters.repo >>
    docker:
      - image: cimg/base:2021.04
    resource_class: small
    steps:
      - checkout
      - deploy-docs
  test:
    parameters:
      version:
        description: "python version tag"
        default: "3.8"
        type: string
    executor:
      name: executor-for-panini
      version: <<parameters.version>>
    steps:
      - checkout
      - when:
          condition:
            matches: { pattern: "3.10.*", value: <<parameters.version>> }
          steps:
            - run:
                command: |
                  apt update && apt install -y libc6-dev gcc build-essential
                  sed -i 's/1.6.1/1.6.3/' requirements/defaults.txt
      - install-requirements
      - run-tests
      - store-results
workflows:
  deployment:
    jobs:
      - deploy-documentation:
          filters:
            branches:
              only: [documentation]
  main:
    jobs:
      - test:
          matrix:
            parameters:
              version:
                - "3.8"
                - "3.9"
#                - "3.10.0b1"
