--index-url https://pypiserver.apps.colibriql-cluster.colibriql-infra.com
panini[tracing]==0.8.3b2
panini==0.8.3b2
opentelemetry-api==1.19.0
opentelemetry-sdk==1.19.0
opentelemetry-exporter-otlp-proto-grpc==1.19.0
opentelemetry-exporter-prometheus==1.12.0rc1
python-logging-loki==0.3.1
PyYAML==6.0.1